<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />      
	<script src="http://code.angularjs.org/1.2.7/angular.min.js"></script>
	<script src="http://code.angularjs.org/1.2.7/angular-route.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>